<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>{% block title %}{% endblock %}</title>
    <meta name="baidu-site-verification" content="2sFNvhPJ3z" />
    <meta name="keywords" content="python,django,mysql">
    <meta name="description" content="{% block description %}{% endblock %}"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="canonical" href="http://zhangshaohua.cc" />
    <meta property='og:locale' content='zh_CN'/>
    <meta property='og:type' content='article'/>
    <meta property='og:title' content='Maybe!'/>
    <meta property='og:description' content='python,django,mysql'/>
    <meta property='og:url' content='http://zhangshaohua.cc'/>
    <meta property='og:site_name' content='Maybe!'s Blog'/>
    <link rel="shortcut icon" href="http://7xt1y0.com1.z0.glb.clouddn.com/icon%2Ffavicon.ico">
    <link rel="stylesheet" type="text/css" href="http://7xt1y0.com2.z0.glb.clouddn.com/font.css"/>
    <link rel="stylesheet" type="text/css" href="http://7xt1y0.com2.z0.glb.clouddn.com/screen.css"/>
</head>
<body class="{% block body_class %}{% endblock %} nav-closed">
<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-home nav-current" role="presentation"><a href="http://zhangshaohua.cc">Home</a></li>
        <li class="nav-current" role="presentation"><a href="{% url 'blog:tag_list' %}">Tags</a></li>

        <li class="nav-about" role="presentation"><a href="{% url 'about' %}">About</a></li>

        <li class="nav-start-a-blog" role="presentation"><a href="https://github.com/zhangsh950618">Github</a></li>
    </ul>
    <a class="subscribe-button icon-feed" href="{% url 'feeds'%}">Subscribe</a>
</div>
<span class="nav-cover"></span>

<div class="site-wrapper">
    {% block head %}{% endblock %}
    {% block body %}{% endblock %}
</div>
<script src="http://7xt1y0.com2.z0.glb.clouddn.com/jquery.min.js"></script>
<script type="text/javascript" src="http://7xt1y0.com1.z0.glb.clouddn.com/js%2Findex.js"></script>
<script type="text/javascript" src="http://7xt1y0.com1.z0.glb.clouddn.com/js%2Fjquery.fitvids.js"></script>

</body>
</html>
