{% extends "base.html" %}
{% block description %}{{blog.snippet | truncatewords:50}}{%endblock%}
{% block title %}{{blog.title}}{% endblock %}
{% block body_class %} post-template {% endblock %}
{% block head %}
<header class="main-header post-head no-cover">
    {% include "widget/main-nav.html" %}
</header>
{% endblock %}
{% block body %}

<main class="content" role="main">
    <article class="post">
        <header class="post-header">
            <h2 class="post-title">{{blog.title}}</h2>
            <section class="post-meta">
                <time class="post-date" datetime="{{blog.add_time|date:'b d, Y'}}">{{blog.add_time|date:"b d, Y"}}
                </time>
                {% if blog.tags %}on
                {% for tag in blog.tags.all %}
                <a href="{%url 'blog:tag' tag%}">{{tag }}</a>
                {% endfor %}
                {% endif %}
            </section>
        </header>
        <section class="post-content">
            <div id = "markdown-body">{{ blog.content }}</div>
            <details open="">
                <summary>原文链接：<a href="{{blog.get_absolute_url}}" rel="author">{{blog.title}}</a>，转发请注明来自<a
                        href="http://zhangshaohua.cc">Maybe的博客</a>！
                </summary>
            </details>
        </section>
        <footer class="post-footer">
            <section class="author">
                <h4><a href="{{url}}">{{blog.author.username}}</a></h4>
                <p>Keep It Simple, Stupid.</p>
            </section>
        </footer>
    </article>
</main>
<script src="http://7xt1y0.com2.z0.glb.clouddn.com/marked.min.js"></script>
<script src="//libs.cdnjs.net/highlight.js/8.0/highlight.min.js"></script>
<script>
var renderer = new marked.Renderer();
renderer.code = function(code, lang) {
  var language = lang && (' language-' + lang) || '';
  return '<pre class="prettyprint' + language + '">'
    + '<code>' + code.replace(/</g, '&lt;').replace(/>/g, '&gt;') + '</code>'
    + '</pre>';
};
var dom = document.getElementById('markdown-body');
dom.innerHTML = marked(dom.innerHTML, { renderer: renderer });
</script>
{% endblock %}
