{% extends "base.html" %}
{% load myapp_markup %}
{% block description %}Python Django{% endblock %}
{% block title %}Maybe's Blog{% endblock %}
{% block body_class %} home-template {% endblock %}
{% load staticfiles %}
{% block head %}
<header class="main-header tag-head " style="background-image: url(http://7xt1y0.com2.z0.glb.clouddn.com/home-bg.jpg)">
    <nav class="main-nav overlay clearfix">
        <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{tag_title |default:"Life is Short"}}</h1>
            <h2 class="page-description">
                {{tag_description}}
            </h2>
        </div>
    </div>
</header>
{% endblock %}
{% block body %}
<script src="http://7xt1y0.com2.z0.glb.clouddn.com/tagcanvas.min.js"></script>
<script type="text/javascript">
   window.onload = function() {
      TagCanvas.textFont = 'Merriweather';
      TagCanvas.textColour = '#FF4500'
      TagCanvas.textHeight = 25;
      TagCanvas.initial = [0.3,-0.3];
      TagCanvas.decel = 0.98;
      TagCanvas.shadow = '#ccf';
      TagCanvas.clickToFront = 600;
      TagCanvas.fadeIn = 2000;
      TagCanvas.outlineMethod = 'block';
      TagCanvas.outlineColour = '#acf';
      TagCanvas.maxSpeed = 0.06;
      TagCanvas.minBrightness = 0.2;
     try {
       TagCanvas.Start('myCanvas','tags');
     } catch(e) {
       // something went wrong, hide the canvas container
       document.getElementById('myCanvasContainer').style.display = 'none';
     }
   };
 </script>
<main id="content" class="content" role="main">
    <div id="myCanvasContainer" style="width:500px;margin:0 auto;">
     <canvas width="500" height="500" id="myCanvas" >
      <p>Anything in here will be replaced on browsers that support the canvas element</p>
      <div id="tags">
        <ul>
          {% for tag in tag_list %}
          <li><a href="{% url 'blog:tag' tag.title %}">{{tag.title}}</a></li>
          {% endfor %}
        </ul>
      </div>
     </canvas>
    </div>
</main>
{% endblock %}
